/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #000;
  background: #fff;
  font-family: 'Playfair Display' sans-serif;
}
p {
  font-size: .95em;
  font-family: Times;
}

h2,h3 {
  padding-bottom: 2px;
  border-bottom: solid #2a64f8 2px;
}

a {
	text-decoration: none;
  color: red;
}

i {
  color: #2a64f8;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
  line-height: 0;
  position: relative;
}
figcaption {

}



/* =================================
Home Page and Navigation
==================================== */

/*-- Header -- */
.main-header {
  padding: 15px;
  vertical-align: baseline;
  margin: 15px auto;
}

.name {
  font-size: 1.95rem;
  letter-spacing: .2rem;
  text-align: left;
  margin: 0;
}

.name,
.header-nav a {
  text-align: center;
}

.header-nav {
  text-align: center;
  padding: 0;
}

.header-nav li {
  list-style: none;
  display: inline-block;
}

.header-nav a {
  font-size: .95em;
  color: #2a64f8;
  text-transform: uppercase;
  padding: 10px 15px;
}

.header-nav a i {
  font-size: 2em;
  color: #2a64f8;
  text-align: right;
}

.second-nav {
  padding: 10px;
  margin: 10px auto;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.second-nav li {
  text-align: center;
  display: inline-block;
  padding: 0 2.5%;
  text-transform: uppercase;
}
/*--Pseudo Classes--*/

.second-nav a:visited {
  color: #fff;
}
a:visited {
  color: #2a64f8;
}
.second-nav a:hover, .header-nav a i:hover {
  color: red;
}
.second-nav a:hover {
  border-bottom: dashed #fff 2px;
}



/*-- layout containers --*/

.banner {
  color: #fff;
  background: #2a64f8;
  margin-bottom: 15px;
  padding: 5px 0;
}

.col {
  padding: 1em;
}

.main {
  padding: 10px;
  border: solid #2a64f8 2px;

}
.main-footer {
  text-align:center;
	padding: 2em 0;
  color: #000;
}

.main-footer span {
  border-bottom: dashed red 2px;
  padding: 10px;
}

/* ---- Home Page and Navigation Elements---- */
.logo {

}
.category {
  font-size: .98rem;
  font-style: italic;
}
.headline {

}
.tagline {
  font-size: 1rem;
  border: none;
}
#feature {
  background-color: yellow;
  padding: 5% 20px;
  margin: 0 auto;
}

.icon-logo {
  width: 35px;
  position: absolute;
  top: -15px;
  right: -15px;
}
/* ---- Home Page and Navigation Images---- */

.mini-img {
  display: inline-block;
  min-width: 100px;
  opacity: 0.5;
}
.mini-img:hover {
  opacity: 1;
  border:solid #2a64f8 2px;
}


/* =================================
Media Queries
==================================== */
@media (min-width: 300px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .main-nav li {
    display: inline;
  }
}

@media (min-width: 769px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .name,
  .col {
    float: left;
  }
  .primary,
  .secondary {
    width: 50%;
  }
  .tertiary {

  }
  .main-nav {
    float: right;
  }
  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }
  .tagline {
    font-size: 1.4em;
  }

  /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
  .container {
    width: 80%;
    max-width: 1400px;
  }
  .primary {
    width: 70%;
  }
  .secondary,
  .tertiary {
    width: 30%;
  }
  .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}
