/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #000;
  background: #fff;
  font-family: 'Playfair Display' sans-serif;
}
p {
  font-size: .95em;
  font-family: Times;
}

h2,h3 {
  display: inline;
  padding-bottom: 2px;
  border-bottom: solid #2a64f8 2px;
}

a {
	text-decoration: none;
  color: #fff;
}

i {
  color: #2a64f8;
}
img {
  max-width: 100%;
}


/* =================================
Home Page and Navigation
==================================== */

/*-- Header -- */
.main-header {
  padding: 15px;
  vertical-align: baseline;
  margin: 15px auto;
}

.name {
  font-size: .8rem;
  max-width: 240px;
  margin: 0;
  text-align: left;
  padding: 0;
  display: inline;
  margin: 0 auto;
}

.header-nav {
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.header-nav li {
  text-align: center;
  display: inline-block;
  padding: 0 2.5%;
}

.header-nav a i {
  font-size: 2em;
  color: #2a64f8;
  text-align: right;
}

.second-nav {
  padding: 10px;
  margin: 10px auto;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.second-nav li {
  text-align: center;
  display: inline-block;
  padding: 0 2.5%;
  text-transform: uppercase;
}
/*--Pseudo Classes--*/

.second-nav a:visited {
  color: #fff;
}
a:visited {
  color: #2a64f8;
}
.second-nav a:hover, .header-nav a i:hover {
  color: red;
}
.second-nav a:hover {
  border-bottom: dashed #fff 2px;
}



/*-- layout containers --*/

.banner {
  color: #fff;
  background: #2a64f8;
  margin-bottom: 15px;
  padding: 5px 0;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  padding: 0 10px;
  border: solid #2a64f8 2px;

}
.main-footer {
  text-align:center;
	padding: 2em 0;

}
.main-footer span {
  border-bottom: dashed red 2px;
  padding: 10px;
}

/* ---- Home Page and Navigation Elements---- */
.logo {
  width: 50px;
  display: inline;
  position: absolute;
  left: auto;
}
.headline {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  line-height: 1.2;
  font-size: 1.8rem;
  border-top: dashed #000 2px;
  border-bottom: dashed #000 2px;

}
#tagline {
  margin: 10px 0 15px 0;
  padding: 0;
  font-style: italic;
  text-align: center;
  font-size: 1rem;
  border: none;
  display: block;
}
#cool-stuff {
  background-color: yellow;
  padding: 5% 20px;
  margin: 0 auto;
}
#cool-text {
  background-color: #fff;
  padding: 2.5%;
  width: 80%;
}
#events {
  display: inline;
  width: 100%;
  background-color: #2a64f8;
  padding: 2.5% 8%;
  color: #fff;
  text-align: center;
  border: none;
}
#events:hover {
  background-color: #000;
}

/* ---- Home Page and Navigation Images---- */
.feat-img {
  height: 45%;
  display: inline-block;
}
.mini-img {
  display: inline-block;
  min-width: 100px;
  opacity: 0.5;
}
.mini-img:hover {
  opacity: 1;
  border:solid #2a64f8 2px;
}


/* =================================
Media Queries
==================================== */
@media (min-width: 769px) {
  .wrap {
    min-height: calc(100vh - 89px);
  }
  .name
  .main-nav li {
    display: inline-block;
  }
  .col {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding: 30px 30px;
  }
  .secondary {
    width: 25%;
    margin-bottom: 15px;
  }
  .primary {
    width: 50%;
  }
  .tertiary {
    width: 25%;
  }
  .quad {
    width: 100%;
    padding: 0;
    opacity: 0.5;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .col {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding: 5%;
  }
  .secondary {
    display:none;
  }
  .primary {
    width: 100%;
  }
  .quad {
    display:none;
  }

}
